In [3]:
import pandas as pd
import glob

In [21]:
experiment = 'experiment7'
test = 'test1a'

def process_cpu_column(df):
    df['%CPU'] = df['%CPU'].str.rstrip('%').astype(float)
    return df

file_paths = glob.glob(f'results/{experiment}/{test}/stat/*.csv')
dfs = [process_cpu_column(pd.read_csv(file_path)) for file_path in file_paths]

# Initialize the aggregated DataFrame
aggregated_df = pd.DataFrame()
aggregated_df['timestamp'] = dfs[0]['timestamp']

aggregated_df['%CPU'] = sum(df['%CPU'] for df in dfs) / len(dfs)
aggregated_df['%CPU_median'] = pd.concat([df['%CPU'] for df in dfs], axis=1).median(axis=1)
aggregated_df['MEM'] = sum(df['MEM'] for df in dfs) / len(dfs)
aggregated_df['MEM_median'] = pd.concat([df['MEM'] for df in dfs], axis=1).median(axis=1)

aggregated_df.to_csv(f'results/{experiment}/cpumem.{test}.csv', index=False)

aggregated_df.head()

       timestamp      %CPU  %CPU_median     MEM  MEM_median
0  1719487592523  0.112586     0.093838  4797.8      4782.0
1  1719487594534  0.199879     0.156201  4798.2      4780.0
2  1719487596544  0.150029     0.125000  4796.6      4782.0
3  1719487598555  0.081166     0.062500  4797.2      4783.0
4  1719487600567  0.168678     0.187383  4798.8      4786.0

In [17]:
experiment = 'experiment7'
test = 'test2'

dep_file_paths = glob.glob(f'results/{experiment}/{test}/dep/*.csv')
deployment_dfs = [pd.read_csv(file_path) for file_path in dep_file_paths]

# Group by test_no and calculate mean, median, and standard deviation for deployment_time
aggregated_deployment_df = pd.DataFrame()
aggregated_deployment_df['test_no'] = deployment_dfs[0]['test_no']
aggregated_deployment_df['timestamp'] = deployment_dfs[0]['timestamp']
aggregated_deployment_df['deployment_time'] = sum(df['deployment_time'] for df in deployment_dfs) / len(deployment_dfs)

aggregated_deployment_df.to_csv(f'results/{experiment}/deployment.{test}.csv', index=False)

aggregated_deployment_df.head()

   test_no      timestamp  deployment_time
0        1  1719482015738         0.715717
1        2  1719482017494         0.345628
2        3  1719482019676         0.369593
3        4  1719482021737         0.348408
4        5  1719482023846         0.347369